.navBar {
    margin: 0%;
}


.seccion {
    margin: 20px;
    text-decoration: none;
    color: white;
}

.seccion:hover {
    color: rgb(14, 207, 14);
}

.imgLogo {
    height: 100px;
    width: 100px;
}