.contador {
    width: fit-content;
    margin: 1rem;                                                                                 ;
    padding: 1rem;
    text-align: center;
}

.addToCart                                                                                                                                                           {
    margin-top: 5px;
    border-radius: 1rem;
}                                                                                           