.cardGral {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;                                                                                                                                                 ;
   display:inline-flex;
   width: 20%;
   height: 20%;
   transition: all 400ms ease;

}

.cardGral:hover {
 box-shadow: 5px 1px 10px rgba(0,0,0,0.2);
 transform: translateY(-3%);
}

.cardItem {
    margin: 2rem;
    display: flex;
}

.cardText {
    font-size: x-large;
}
